block variables

doctype html
html(lang="en")
  head
    <meta charset="utf-8">
    <title>Mon Application de recherche de films</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    link(rel="stylesheet", href="/stylesheets/movie.css")
  body
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="movieR">Home</a>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div id="movie" class="well"></div>
    </div>

    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    
    script.
        $(document).ready(() => {
            $('#searchForm').on('submit', (e) => {
                let searchText = $('#searchText').val();
                getMovies(searchText);
                e.preventDefault();
            });
        });
        
        function getMovies(searchText){
            axios.get('http://www.omdbapi.com?s='+searchText+"&apikey=2ecf454c")
                .then((response) => {
                    console.log(response);
                    let movies = response.data.Search;
                    let output = '';
                    $.each(movies, (index, movie) => {
                        output += `
                <div class="col-md-3">
                    <div class="well text-center">
                    <img src="${movie.Poster}">
                    <h5>${movie.Title}</h5>
                    <a onclick="movieSelected('${movie.imdbID}')" class="btn btn-primary" href="#">Movie Details</a>
                    </div>
                </div>
                `;
                    });
        
                    $('#movies').html(output);
                })
                .catch((err) => {
                    console.log(err);
                });
        }
        
        function movieSelected(id){
            sessionStorage.setItem('movieId', id);
            window.location = 'movie';
            return false;
        }
        
        function getMovie(){
            let movieId = sessionStorage.getItem('movieId');
            axios.get('http://www.omdbapi.com?i='+movieId+"&apikey=2ecf454c")
                .then((response) => {
                    console.log(response);
                    let movie = response.data;
                    let output =`
                <div class="row">
                <div class="col-md-4">
                    <img src="${movie.Poster}" class="thumbnail">
                </div>
                <div class="col-md-8">
                    <h2>${movie.Title}</h2>
                    <ul class="list-group">
                    <li class="list-group-item"><strong>Genre:</strong> ${movie.Genre}</li>
                    <li class="list-group-item"><strong>Released:</strong> ${movie.Released}</li>
                    <li class="list-group-item"><strong>Rated:</strong> ${movie.Rated}</li>
                    <li class="list-group-item"><strong>IMDB Rating:</strong> ${movie.imdbRating}</li>
                    <li class="list-group-item"><strong>Director:</strong> ${movie.Director}</li>
                    <li class="list-group-item"><strong>Writer:</strong> ${movie.Writer}</li>
                    <li class="list-group-item"><strong>Actors:</strong> ${movie.Actors}</li>
                    </ul>
                </div>
                </div>
                <div class="row">
                <div class="well">
                    <h3>Plot</h3>
                    ${movie.Plot}
                    <hr>
                    <a href="http://imdb.com/title/${movie.imdbID}" target="_blank" class="btn btn-primary">View IMDB</a>
                    <a href="movieR" class="btn btn-default">Back</a>
                </div>
                </div>
            `;
        
                    $('#movie').html(output);
                })
                .catch((err) => {
                    console.log(err);
                });
        }

    script.
        getMovie();

